@media (max-width: 1399px) {
    .rox-container {
    /* max-width: 1140px; 
    у Бутстрап есть еще padding: 0 12px в контейнере
    поэтому убираю 24px, т.е 1140px-24px=1116px
    чтоб получить фактич. ширину контента */
        max-width: 1116px;
    }
    .header-contacts .adress {
        display: none;
    }
     .search-form {
        width: 292px;
    }
    .contacts-menu__item + .contacts-menu__item {
        margin-left: 15px;
    }

}

@media (max-width: 1199px) {
    .rox-container {
    /* max-width: 960px; 
    у Бутстрап есть еще padding: 0 12px в контейнере
    поэтому убираю 24px, т.е 960px-24px=936px
    чтоб получить фактич. ширину контента */
        max-width: 936px;
    }
    .header-contacts .phones {
        &__item:nth-child(1) svg {
        display: none;
        }
    }
    .header-menu-product .sale {
        position: absolute;
        top: 66px;
        left: 50%;
        transform: translateX(-50%);
    }
    .contacts-menu__link {
        // font-size: 12px;
    }
    .header-text__left {
        width: 80%;
    }
    .products {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 24px;
    }
    .products {
        .card {
        
        }
    }

}

@media (max-width: 991px) {
    .rox-container {
    /* max-width: 720px; 
    у Бутстрап есть еще padding: 0 12px в контейнере
    поэтому убираю 24px, т.е 720px-24px=696px
    чтоб получить фактич. ширину контента */
        max-width: 696px;
    }
    .header-top {
        // border: 1px solid red;
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        z-index: 2;
        background-color: transparent;
    }
    // .header-top::after {
    //     content: "";
    //     position: absolute;
    //     bottom: 0;
    //     left: 0;
    //     right: 0;
    //     height: 242px;
    //     background: linear-gradient(0deg, #859cd4 0%, #a3c9e9 24.25%, #edede8 87.96%, #f4f1eb 99.99%);
    //     z-index: 10;
    // }
    .header-top:has(.toggle-menu:checked) {
        border: 1px solid #837f8e;
    }
    .header-top-mobile {
        display: flex;
    }
    .toggle-menu:checked ~ .burger-btn::before {
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
    }
    .toggle-menu:checked ~ .burger-btn span {
        opacity: 0;
    }
    .toggle-menu:checked ~ .burger-btn::after {
        bottom: 50%;
        transform: translateY(50%) rotate(-45deg);
    }
    /* 1) открытие/закрытие меню при клике на бургер кнопку */
    .toggle-menu:checked ~ .header-contacts {
        display: flex;
        background-color: $background-color;
    }
    .toggle-menu:checked ~ .header-menu {
        display: flex;
        background-color: $background-color;
    }
    .toggle-menu:checked ~ .header-menu-product {
        display: flex;
        background-color: $background-color;
    }
    .toggle-menu:checked ~ .header-top-mobile {
        display: none;
    }
    
    .burger-btn {
        display: flex;
        align-items: center;
        width: 30px;
        height: 30px;
        cursor: pointer;
        position: relative;
        z-index: 100;
        margin: 12px;
        margin-left: auto;
    }
    .burger-btn::after, .burger-btn::before {
        content: "";
        position: absolute;
        height: 2px;
        width: 100%;
        background-color: $black-text;
        left: 0;
        transition: all 0.3s;
    }
    .burger-btn::after {
        bottom: 0;
    }
    .burger-btn::before {
        top: 0;
    }
    .burger-btn span {
        display: block;
        height: 2px;
        background-color: $black-text;
        transition: all 0.3s;
        width: 100%;
    }
    /* 2) скрыть меню на мобиле */
    .header-contacts, .header-menu, .header-menu-product {
        display: none;
    }
    .header-contacts {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 15px;
        margin-bottom: 0;
        padding-bottom: 30px;
        margin-top: -55px;
        padding-top: 12px;
    }
    .header-contacts .adress {
        display: block;
        margin: 0 auto;
        text-align: center;
    }
    .header-contacts .phones {
        &__item:nth-child(1) svg {
        display: block;
        }
    }
    .header-menu {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 15px;
        margin-bottom: 0;
        padding-bottom: 80px;
    }
    .header-menu .logo-wrap {
        margin: 0 auto;
        text-align: center;
    }
    .header-menu-product {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 15px;
        height: auto;
        padding-bottom: 50px;
        margin-bottom: 0;
        margin-top: -54px;
    }
    .header-menu-product .sale {
        position: static;
        transform: none;
    }
    .menu-product {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 0;
        row-gap: 15px;
    }
    .menu-product__item + .menu-product__item {
        margin-left: 0;
    }
    .header-brands {
        margin-top: 86px;
    }
    .contacts-menu__link {
        // font-size: 16px;
    }
    .header-menu-product nav {
        margin-left: 0;
    }
    .header-brands {
        margin-top: 160px;
    }
    .header {
        height: 540px;
    }
    .header-right-img {
        right: -465px;
    }
    .header-left-img {
        left: -548px;
    }
    .header-top {
        display: flex;
        flex-direction: column;
    }
    .header-menu-product {
        order: 3;
        padding-top: 30px;
    }
    .header-menu {
        order: 4;
    }
    .header-contacts {
        order: 5;
    }
    .header-menu {
        .logo-wrap {
            display: none;
        }
    }
    .products {
        .card {
       
        }
    }
    .s-ohota-rybalka__text {
        position: static;
        width: 72%;
        margin-bottom: 80px;
        margin-left: auto;
    }
    .s-ohota-rybalka {
        .section-title {
            margin-bottom: 20px;
        }
    }
    .ohota-rybalka {
        flex-wrap: wrap;
        row-gap: 48px;
        &__item {
            width: 48%;
        }
    }
}

@media (max-width: 767px) {
    .rox-container {
    /* max-width: 540px; 
    у Бутстрап есть еще padding: 0 12px в контейнере
    поэтому убираю 24px, т.е 540px-24px=516px
    чтоб получить фактич. ширину контента */
        max-width: 516px;
    }
    .header-contacts .phones {
        flex-direction: column;
        row-gap: 10px;
    }
    .header-contacts .phones__item:nth-child(2) svg,
    .header-contacts .phones__item:nth-child(3) svg{
        display: block;
    }
    .header-contacts .phones__item + .phones__item {
        margin-left: 0;
    }
    .header-contacts .phones svg {
        margin-right: 16px;
    }
    .header-left-img {
        left: -480px;
    }
    .header-right-img {
        right: -340px;
    }
    .card {
        &__params {
            font-size: 14px;
        }
    }
    .s-ohota-rybalka {
        &__text {
            width: 100%;
            font-size: 16px;
        }
        &__left-img {
            top: 205px;
        }
        &__right-img {
            top: -84px;
         }
    }
    .ohota-rybalka {
        &__item {
            width: 47.5%;
        }
    }
}

@media (max-width: 539px) {
    .rox-container {
        /* padding, когда у .container нет max-width
        а есть только width: 100%; */
        padding: 0 12px;
        max-width: 100%; 
    }
    .header-menu .contacts-menu {
        flex-direction: column;
        row-gap: 5px;
    }
    .header-menu .contacts-menu__item + .contacts-menu__item {
        margin-left: 0;
    }
    .header-top {
        top: -32px;
        // background-color: $background-color;
        border-bottom: 1px solid #232532;
    }
    .header-brands {
        margin-top: 140px;
        margin-bottom: 110px;
        .splide {
            &__slide--haski img {
                height: 40px;
            }
            &__slide--sarma img {
                height: 60px;
            }
            &__slide--bars img {
                height: 60px;
            }
        }
    }
    .header-right-img {
        display: none;
    }
    .header-left-img {
        left: -133px;
        min-width: 478px;
        top: 36px;
    }
    .header-text__left {
        width: 100%;
    }
    .products {
        grid-template-columns: repeat(1, 1fr);
        .card {
            
        }
    }
    .ohota-rybalka {
        row-gap: 55px;
        &__item {
            width: 100%;
        }
    }
    .s-ohota-rybalka__left-img {
        top: 215px;
    }
}

/* Брейкпоинты и max-width у .container (как в ориг. Bootstrap 5) 
@media (min-width: 576px) { .container { max-width: 540px; } }
@media (min-width: 768px) { .container { max-width: 720px; } }
@media (min-width: 992px) { .container { max-width: 960px; } }
@media (min-width: 1200px) { .container { max-width: 1140px; } }
@media (min-width: 1400px) { .container { max-width: 1320px; } } */