@media (max-width: 1399px) {
    .rox-container {
    /* max-width: 1140px; 
    у Бутстрап есть еще padding: 0 12px в контейнере
    поэтому убираю 24px, т.е 1140px-24px=1116px
    чтоб получить фактич. ширину контента */
        max-width: 1116px;
    }

}

@media (max-width: 1199px) {
    .rox-container {
    /* max-width: 960px; 
    у Бутстрап есть еще padding: 0 12px в контейнере
    поэтому убираю 24px, т.е 960px-24px=936px
    чтоб получить фактич. ширину контента */
        max-width: 936px;
    }
    .phones {
        &__item:nth-child(1) svg {
        display: none;
        }
    }
}

@media (max-width: 991px) {
    .rox-container {
    /* max-width: 720px; 
    у Бутстрап есть еще padding: 0 12px в контейнере
    поэтому убираю 24px, т.е 720px-24px=696px
    чтоб получить фактич. ширину контента */
        max-width: 696px;
    }
}

@media (max-width: 767px) {
    .rox-container {
    /* max-width: 540px; 
    у Бутстрап есть еще padding: 0 12px в контейнере
    поэтому убираю 24px, т.е 540px-24px=516px
    чтоб получить фактич. ширину контента */
        max-width: 516px;
    }
}

@media (max-width: 539px) {
    .rox-container {
        /* padding, когда у .container нет max-width
        а есть только width: 100%; */
        padding: 0 12px;
        max-width: 100%; 
    }
}

/* Брейкпоинты и max-width у .container (как в ориг. Bootstrap 5) 
@media (min-width: 576px) { .container { max-width: 540px; } }
@media (min-width: 768px) { .container { max-width: 720px; } }
@media (min-width: 992px) { .container { max-width: 960px; } }
@media (min-width: 1200px) { .container { max-width: 1140px; } }
@media (min-width: 1400px) { .container { max-width: 1320px; } } */