// переменные
$accent: #cc5803;
$accent-hover: #fd7f23;
$white-text: #e4ddcf;
$black-text: #120d31;

// есть еще наследование сразу нескольких свойств css
// название определяется через %, подключается через @extend