// переменные
$accent: #cc5803;
$accent-hover: #fd7f23;
$accent-hover2: #9ba2ff;
$white-text: #e4ddcf;
$black-text: #120d31;
$background-color: #f4f1eb;

// есть еще наследование сразу нескольких свойств css
// название определяется через %, подключается через @extend