@import '_vars.scss';
@import '_fonts.scss';
@import '_reset.scss';
@import '_global.scss';

/*---- mobile menu ----*/

/* === Desktop (Default) === */
// .main-nav {
//   background-color: #2c3e50;
//   position: relative;
//   display: flex;
// }

.toggle-menu,
.burger-btn {
  display: none;
}

.menu-list {
  display: flex;
  align-items: center;
  column-gap: 35px;
}
.menu-list__item {
  position: relative;
//   margin-left: 35px;
}
.menu-list__link {
  display: flex;
  align-items: center;
//   padding: 13px 20px;
  color: $black-text;
  text-decoration: none;
  white-space: nowrap;
}
.menu-list__link:hover {
//   background-color: #34495e;
  color: $accent;
}
.menu-list__item--submenu .menu-list__link::after {
  content: "";
  width: 28px;
  height: 28px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23120d31' d='M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z'/%3E%3C/svg%3E");
  background-size: contain;
  background-position: center center;
}
.menu-list__item--submenu .menu-list__link:hover::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23cc5803' d='M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z'/%3E%3C/svg%3E");
}
.menu-list__item--submenu:hover .submenu-list {
  display: flex;
}
.menu-list__item--submenu:hover .menu-list__link {
//   background-color: #34495e;
  color: $accent;
}
.menu-list__item--submenu:hover .menu-list__link::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23cc5803' d='M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z'/%3E%3C/svg%3E");
}
.menu-list__item--active .menu-list__link {
  color: $accent;
}
.menu-list__item--active .menu-list__link::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23cc5803' d='M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z'/%3E%3C/svg%3E");
}

.toggle-submenu {
  display: none;
}

.submenu-list {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  background-color: #e4ddcf;
  z-index: 10;
  overflow: hidden;
}
.submenu-list__item {
  border-bottom: 1px solid #f4f1eb;
  &:last-child {
    border-bottom: none;}
}
.submenu-list__item:last-child {
  border-bottom: none;
}
.submenu-list__link {
  display: block;
  padding: 13px 20px;
  color: #120d31;
  text-decoration: none;
  white-space: nowrap;
  min-width: 150px;
}
.submenu-list__link:hover {
//   background-color: #34495e;
  color: $accent;
}

/* === Mobile === */
@media (max-width: 991px) {
//   .main-nav {
//     flex-direction: column;
//   }
  .toggle-menu:checked ~ .burger-btn::before {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
  }
  .toggle-menu:checked ~ .burger-btn span {
    opacity: 0;
  }
  .toggle-menu:checked ~ .burger-btn::after {
    bottom: 50%;
    transform: translateY(50%) rotate(-45deg);
  }
//   .toggle-menu:checked ~ .menu-list {
//     display: flex;
//   }
    /* Сначала идем к соседу div.header-menu-product, а потом внутрь него к .menu-list */
    .toggle-menu:checked ~ .header-menu-product .menu-list {
        display: flex;
    }
//   .burger-btn {
//     display: flex;
//     align-items: center;
//     width: 30px;
//     height: 30px;
//     cursor: pointer;
//     position: relative;
//     z-index: 100;
//     margin: 10px;
//     margin-left: auto;
//   }
//   .burger-btn::after, .burger-btn::before {
//     content: "";
//     position: absolute;
//     height: 2px;
//     width: 100%;
//     background-color: #e4ddcf;
//     left: 0;
//     transition: all 0.3s;
//   }
//   .burger-btn::after {
//     bottom: 0;
//   }
//   .burger-btn::before {
//     top: 0;
//   }
//   .burger-btn span {
//     display: block;
//     height: 2px;
//     background-color: #e4ddcf;
//     transition: all 0.3s;
//     width: 100%;
//   }
  .menu-list {
    display: none;
    flex-direction: column;
    // background: #34495e;
    border: 1px solid #e4ddcf;
    min-width: 290px;
    /* Отключаем hover-эффекты на мобильных устройствах */
  }
  .menu-list__item {
    width: 100%;
    border-bottom: 1px solid #e4ddcf;
    position: relative;
    &:last-child {
        border-bottom: none;
    }
  }
  .menu-list__item--submenu > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .menu-list__item--submenu:hover .submenu-list {
    display: none;
  }
  .menu-list__item--submenu > div > .menu-list__link::after {
    display: none;
  }
  .menu-list__item--submenu:hover .menu-list__link {
    color: $accent;
  }
  .menu-list__item--active:hover .menu-list__link {
    color: $accent;
  }
  .menu-list__item--submenu .menu-list__link:hover {
    // background-color: #2c3e50;
    color: $accent;
  }
  .menu-list__link {
    flex-grow: 1;
    padding: 13px 20px;
  }
  .menu-list__link:hover {
    // background-color: #2c3e50;
  }
  .toggle-submenu {
    display: flex !important;
    width: 48px;
    height: 48px;
    background: none;
    border: none;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    padding: 0;
    border-left: 1px solid #e4ddcf;
  }
  .toggle-submenu:hover, .toggle-submenu:focus {
    outline: none;
    // background-color: #2c3e50;
  }
  .toggle-submenu:hover .submenu-icon {
    fill: $accent;
  }
  .toggle-submenu .submenu-icon {
    width: 30px;
    height: 30px;
    fill: $black-text;
    display: block;
  }
  .toggle-submenu .submenu-icon--closed {
    display: block !important;
  }
  .toggle-submenu .submenu-icon--open {
    display: none !important;
  }
  .toggle-submenu.open .submenu-icon--closed {
    display: none !important;
  }
  .toggle-submenu.open .submenu-icon--open {
    display: block !important;
  }
  .submenu-list {
    display: none;
    // background-color: #2c3e50;
    position: relative;
    min-width: auto;
    width: 100%;
    left: 0;
    top: 0;
  }
  .submenu-list.open {
    display: flex !important;
  }
  .submenu-list__item {
    border-bottom: 1px solid #e4ddcf;
  }
  .submenu-list__item:last-child {
    border-bottom: none;
  }
  .submenu-list__link {
    padding: 13px 20px 13px 40px;
  }
  .submenu-list {
    background-color: transparent;
  }
  .submenu-list__link {
    color: $black-text;
    &:hover {
      background-color: transparent;
    }
  }
  .submenu-list__item:first-child {
    border-top: 1px solid #e4ddcf;
  }
  
}

/*---- header ----*/
.header {
    padding: 32px 0;
    // height: 800px;
    height: 620px;
    /* Высота блока должна быть достаточной, чтобы градиенты не соприкасались */
    min-height: 400px;  
    // overflow: hidden; /
    position: relative;
    // z-index: 1;
}

.header-top-wrap {
    position: relative;
}

.header-left-img {
    position: absolute;
    top: 78px;
    left: -460px;
}

.header-right-img {
    position: absolute;
    top: 8px;
    right: -712px;
}

.header-top-mobile {
    // border: 1px solid green;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    display: none;
    align-items: center;
    justify-content: end;
    padding-left: 12px;
    padding-right: 54px;
    z-index: 10;
    .logo-link img {
        height: 36px;
    }
    .phones-link {
        margin-left: 8px;
        svg {
            width: 22px;
            height: 22px;
            flex-shrink: 0;
        }
    }
    .logo-wrap {
        margin-right: auto;
    }
}

/* ВЕРХНИЙ ГРАДИЕНТ (прижат к верху) */
.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    /* Высота верхней зоны — например, 30% от высоты блока */
    // height: 30%; 
    height: 300px;
    background: linear-gradient(180deg, #859cd4 0%, #a3c9e9 24.25%, #edede8 87.96%, #f4f1eb 99.99%);
    z-index: -1;
}

/* НИЖНИЙ ГРАДИЕНТ (прижат к низу) */
.header::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    /* Высота нижней зоны — например, 30% от высоты блока */
    // height: 30%; 
    height: 242px;
    background: linear-gradient(0deg, #859cd4 0%, #a3c9e9 24.25%, #edede8 87.96%, #f4f1eb 99.99%);
    z-index: -1;
}

/* классы для контента, чтобы он был поверх фона */
.header-contacts, 
.header-menu,
.header-menu-product, 
.header-brands, 
.header-text {
    position: relative;
    // z-index: 1;
}


/*---- header-contacts ----*/
.header-contacts {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: end;
    column-gap: 40px;
    .adress {
        margin-right: auto;
    }
}

.phones {
    display: flex;
    align-items: center;
    &__item + .phones__item {
        margin-left: 32px;
    }
    &__link {
        color: $accent;
        display: flex;
        align-items: center;
    }
    &__link:hover {
        color: $accent-hover;
    }
    svg {
        width: 22px; 
        height: 22px;
        flex-shrink: 0; /* предотвращает сжатие во флекс-контейнерах */
        margin-right: 32px;
        path {
            stroke: $accent;
        }
    }
    &__link:hover svg path {
        stroke: $accent-hover;
    }
    &__item:nth-child(2) svg, &__item:nth-child(3) svg{
        display: none;
    }
}

.social {
    display: flex;
    align-items: center;
    &__item + .social__item {
        margin-left: 10px;
    }
    &__link {
        display: flex;
        align-items: center;
    }
    img {
        width: 24px; 
        height: 24px;
        flex-shrink: 0; /* предотвращает сжатие во флекс-контейнерах */
    }
}

/*---- header-menu ----*/
.header-menu {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: end;
    column-gap: 40px;
}

.logo-wrap {
    margin-right: auto;
    flex-shrink: 0;
    .slogan {
        font-family: 'Montserrat', sans-serif;
        font-size: 12px;
        font-weight: 600;
        line-height: 1;
    }
}

.contacts-menu {
    display: flex;
    align-items: center;
    &__item + .contacts-menu__item {
        margin-left: 35px;
    }
    &__link {
        color: $black-text;
        font-size: 14px;
    }
    &__link:hover {
        color: $accent;
    }
}

/*---- header-menu-product ----*/
.header-menu-product {
    margin-bottom: 90px;
    display: flex;
    align-items: center;
    // justify-content: space-between;
    height: 56px;
    .sale {
        border: 1px solid $accent;
        border-radius: 60px;
        padding: 15px 50px;
        text-transform: uppercase;
        background-color: #fff;
        font-weight: 700;
        font-size: 32px;
        font-family: 'Montserrat', sans-serif;
        color: $accent;
    }
    .sale:hover {
        border: 1px solid $accent-hover;
        color: $accent-hover;
    }
    nav {
        margin-left: auto;
    }
}

.menu-product {
    display: flex;
    align-items: center;
    &__item + .menu-product__item {
        margin-left: 35px;
    }
    &__link {
        color: $black-text;
        display: flex;
        align-items: center;
        column-gap: 8px;
        svg {
            width: 16px;
            height: 9px;
        }
    }
    &__link:hover {
        color: $accent;
    }
    &__link:hover svg path {
        stroke: $accent;
    }
}

/*---- header-brands ----*/
.header-brands {
    margin-bottom: 70px;
    /*раскомментить, чтобы линия была на всю ширину экрана*/
    border-bottom: 1px solid #837f8e;
    border-top: 1px solid #837f8e;
    // height: 150px;
    background-color: #f4f1eb;
    display: flex;
    align-items: center;
    padding: 22px 0px;
    .rox-container {
        // border-bottom: 1px solid #837f8e;
        // border-top: 1px solid #837f8e;
        // // height: 150px;
        // background-color: #f4f1eb;
        // padding: 22px 0px;
    }
    .splide {
        &__slide--haski img {
            height: 50px;
        }
        &__slide--sarma img {
            height: 80px;
        }
        &__slide--bars img {
            height: 80px;
        }
        &__track {
        }
        &__list {
        }
        &__slide {
            // border: 1px solid red;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }


}

/*---- header-brands ----*/
.header-text {
    &__left {
        display: block;
        width: 58%;
        text-align: center;
        margin: 0 auto;
    }
}

/*---- main ----*/

/*---- s-hits ----*/
.s-hits {
    // padding: 35px 0;
    .section-title {
        text-align: center;
    }
}

.products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 24px;
    &__item {
        // display: flex; 
    }
}

.card {
    height: 100%; // !Важно
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.25);
    background: #faf6ed;
    padding: 16px;
    // height: 428px;
    position: relative;
    z-index: 0;
    &__img-link {
        border-radius: 20px;
        background-color: #e4ddcf;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 16px;
        height: 194px;
        transition: all .3s ease;
        border: 2px solid transparent;
    }
    &__img-link:hover {
        border: 2px solid $accent;
    }
    &__title {
        color: #000;
        font-weight: 500;
        font-size: 22px;
        line-height: 135%;
        margin-bottom: 113px;
    }
    &__title:hover {
        color: $accent;
    }
    &__params {
        // margin-bottom: 42px;
        position: absolute;
        bottom: 60px;
        left: 16px;
        right: 16px;
    }
    &__params-item {
        margin-bottom: 8px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #555;
    }
    &__params-item--seazon {
        .card__params-value {
            position: relative;
            display: flex;
            align-items: center;
            padding-right: 25px;
        }
        .card__params-value::after {
            content: '';
            position: absolute;
            width: 20px;
            height: 20px;
            right: 0;
            background-image: url(../img/icons/leto.svg);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: contain;
            
        }
        .card__params-value.card__params-value--zima::after {
            background-image: url(../img/icons/zima.svg);
        }
    }
    .button-wrap {
        position: absolute;
        bottom: 16px;
        right: 16px;
    }
}

/*---- s-ohota-rybalka ----*/

.s-ohota-rybalka {
    position: relative;
    // height: 630px;
    overflow: hidden;
    &::after {
        content: '';
        position: absolute;
        bottom: 0px;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(360deg, #217d72 0%, #bee9e8 65.38%, #f1faff 82.21%, #f4f1eb 99.99%);
        z-index: -1;
    }
    .rox-container {
        position: relative;
    }
    &__left-img {
        position: absolute;
        top: 0;
        left: -130px;
        z-index: 0;
    }
    &__right-img {
        position: absolute;
        top: 30px;
        right: -130px;
        z-index: 0;
    }
    &__text {
        position: absolute;
        width: 57%;
        top: 0;
        right: 0;
        font-weight: 600;
        font-size: 20px;
        line-height: 135%;
    }
    .section-title {
        margin-bottom: 230px;
    }
}

.categories-box {
    display: flex;
    // display: grid;
    // grid-template-columns: repeat(4, 1fr);
    column-gap: 24px;
    position: relative;
    z-index: 1;
    &__item {
        width: 20%;
        // border: 1px solid red;
    }
    &__link {
        display: flex;
        flex-direction: column;
    }
    &__img-wrap {
        border-radius: 30px;
        background-color: #faf6ed;
        margin-bottom: 16px;
        height: 210px;
        position: relative;
        transition: all .3s ease;
        border: 2px solid transparent;
    }
    &__img {
        position: absolute;
        top: -33%;
        left: 50%;
        transform: translateX(-50%);
        // border: 1px solid green;
        height: 280px;
        // width: 280px;
        object-fit: contain;
        transition: all .3s ease;
    }
    &__title {
        font-weight: 700;
        font-size: 20px;
        line-height: 135%;
        text-transform: uppercase;
        color: $black-text;
        text-align: center;
        transition: all .3s ease;
    }
    &__link:hover .categories-box__img-wrap {
        border: 2px solid $accent;
    }
    // &__link:hover .categories-box__title {
    //     color: $accent;
    // }
    &__link:hover .categories-box__img {
        transform: translateX(-50%) scale(1.1);
    }
}

/*---- s-others-categories ----*/

.s-others-categories {
    position: relative;
    z-index: 0;
    // padding-top: 110px;
    &::after {
        content: '';
        position: absolute;
        bottom: 0px;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, #a3c9e9 24.25%, #edede8 87.96%, #f4f1eb 99.99%);
        z-index: -1;
    }
    .categories-box {
        justify-content: center;
        &__item {
            // width: 33.33%
            width: 20%;
        }
        &__img {
            height: 250px;
            width: 250px;
        }
    }
    .section-title {
        margin-bottom: 90px;
        text-align: center;
    }
}

/*---- .s-text ----*/

.s-text {
    position:relative;
    padding: 0 0;
    margin: 35px 0;
    min-height: 380px;
    &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 50%;
            height: 20px;
            background-color: #8CA6D9;
            z-index: -1;
        }
    .rox-container {
        position:relative;
        
    }
    &__img {
        position: absolute;
        top: -32px;
        left: -180px;
        z-index: 1;
    }
    &__text {
        width: 50%;
        margin-left: auto;
        padding-left: 24px;
        font-weight: 600;
        font-size: 20px;
        line-height: 135%;
    }
}

/*---- s-proizvodstvo ----*/

.s-proizvodstvo {
    // border: 1px solid red;
    .rox-container {
        display: flex;
        column-gap: 24px;
        position: relative;
    }
    &__left {
        width: 66.66%;
    }
    &__right {
        // width: 33.33%;
        position: absolute;
        top: -224px;
        right: 0;
    }
    &__text {
        font-weight: 600;
        font-size: 20px;
        line-height: 135%;
        width: 74%;
        margin-bottom: 25px;
    }
}

.proizvodstvo {
    display: flex;
    align-items: center;
    column-gap: 24px;
    &__item {
        background-color: #e4ddcf;
        border-radius: 30px;
        height: 211px;
        display: flex;
        align-items: center;
        // justify-content: center;
        text-align: center;
        width: 33.33%;
        flex-direction: column;
        padding-top: 30px;
        img {
            margin-bottom: 30px;
        }
    }
}

.proizvodstvo-foto {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 12px;
    max-width: 424px;
    &__item {
        
    }
    &__item:first-child {
        grid-column: 1 / 3;
    }
    &__item img {
        width: 100%;
        height: 100%;
        object-fit: cover; 
        border-radius: 30px;
    }
}

/*---- s-text--velome ----*/

.s-text--velome {
    .s-text__img {
        
    }
}

@import '_media.scss'
